[Unit]
Description=Node.js registration server
[Service]
PIDFile=/tmp/webapp-99.pid
User=ubuntu
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/ubuntu/401/
ExecStart=/home/ubuntu/401/webapp.js
[Install]
WantedBy=multi-user.target